
/* Bootstrap UI Fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Navbar fix */
.navbar-nav > li >a:focus {
outline: none;
}

body {
    padding-top: 55px;
}

td.ap {
    /*color: gray; */
}

td.client {
    font-weight: bold;
}

tr.selected {
    background-color: #22aa22 !important;
}

div.map {
    position: relative;
}

.map_tags {
    position: absolute;
    width: 5px;
    height: 5px;
}

.map_tags p.label {
    font-weight: bold;
    color: black;
}

.map_tags p.info {
    display: none;
}

.map_tags:hover p.info {
    position: relative;
    left: 50px;
    top: -60px;
    width: 120px;
    display: block;
    color: black;
    background-color: white;
    opacity: 0.9;
    padding: 3px;
    border-radius: 0.2;
}

.bla-close {
    visibility: hidden;
}

tab-heading:hover .bla-close {
    visibility: visible;
}


.bla-macalias .bla-mac {
    display: none;
}

.bla-macalias:hover .bla-mac {
    display: block;
}

.bla-macalias:hover .bla-alias {
    display: none;
}

/* SSIDs */
.bla-probes {
    font-weight: bold;
}

.bla-beacons {
}

.bla-other {
    font-style: italic;
}

.bla-vsep {
    margin-top: 10px;
}

/* END OF SSIDs */